<div class="page-wrapper" fxLayout="column" fxLayoutGap="50px">
  <div class="data-first-preview" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="dashboard-title">Echéances Avance sur salaire</span>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div
          class="current-time-interval"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <span
            class="value"
            fxLayout="row"
            fxLayoutGap="8px"
            fxLayoutAlign="start center"
            ><span>{{ startDate | frenchDate }}</span> <span>au</span>
            <span>{{ endDate | frenchDate }}</span></span
          >
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            class="dropdown"
          >
            <span
              class="icon"
              #btnToggleDropdownDate
              (click)="toggleMenuFilterDate()"
            >
              <mat-icon fxLayoutAlign="center center"
                >keyboard_arrow_down</mat-icon
              >
            </span>
            <form
              [formGroup]="metricsInput"
              class="dropdown-content"
              id="filter-date-dropdown"
              *ngIf="isMenuFilterOpen"
              #dropdownContent
            >
              <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                <label for="debut">Du</label>
                <input formControlName="startDate" type="date" id="debut" />
              </div>
              <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                <label for="fin">Au</label>
                <input formControlName="endDate" type="date" id="fin" />
              </div>
            </form>
          </div>
        </div>
        <span class="dashboard-title">Filtrer</span>
      </div>
    </div>
    <div
      class="card-data-container"
      fxLayout="row wrap"
      fxLayoutAlign="space-between "
      fxLayoutGap="5px"
    >
      @for(data of dataStatics;track data.title){

      <div
        class="data-card"
        fxLayout="column"
        fxFlex="23"
        fxFlex.lt-lg="31"
        fxFlex.lt-sm="100"
        fxFlex.lt-md="48"
      >
        <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
          <div class="label">{{ data.title }}</div>
          <div
            class="data-image"
            fxLayoutAlign="center center"
            [ngStyle]="{ border: '2px solid ' + data.style }"
          >
            <img [src]="data.path" alt="" />
          </div>
        </div>
        <span class="value">{{ data.value | number : "1.0-0" }}</span>
      </div>

      }
    </div>
    <div class="chart-container" *ngIf="metricsData">
      <app-refund-charts [metricsData]="metricsData"></app-refund-charts>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="40px">
    <div
      fxFlex="auto"
      class="user-list-container"
      fxLayout="column"
      fxLayoutGap="16px"
    >
      <div class="top" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="nbr-user"
          >Utilisateurs enregistrés ({{ collaborators?.length || 0 }})</span
        >
        <div
          class="dropdown dropdown-filter"
          [appDropdown]="'dropdown-filter-user-list-saved'"
        >
          <div
            class="btn-filter"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <span class="icon" fxLayoutAlign="center center"
              ><mat-icon fxLayoutAlign="center center"
                >filter_list</mat-icon
              ></span
            >
            <span class="text">Filtrer</span>
          </div>
          <div class="dropdown-content" id="dropdown-filter-user-list-saved">
            <div class="dropdown-option" (click)="filterBy = 'createdAt'">
              Nouveaux utilisateurs inscrits récemment
            </div>
            <div
              class="dropdown-option"
              (click)="filterBy = 'hasValidatedDemande'"
            >
              Utilisateurs avec les avances en cours
            </div>
          </div>
        </div>
      </div>
      <table class="table">
        <tr class="titles-container" fxLayout="row">
          <th class="title" fxFlex="20" fxLayoutAlign="start center">
            Identifiant
          </th>
          <th class="title" fxFlex="20" fxLayoutAlign="center center">
            Collaborateur
          </th>
          <th class="title" fxFlex="20" fxLayoutAlign="center center">Solde</th>
          <th class="title" fxFlex="20" fxLayoutAlign="center center">Date</th>
          <th class="title" fxFlex="20" fxLayoutAlign="center center">
            Avance sur salaire
          </th>
        </tr>
        <tr
          class="user"
          fxLayout="row"
          *ngFor="let req of collaborators; let i = index"
        >
          <td
            class="radio-container"
            fxFlex="20"
            fxLayoutAlign="start center"
            fxLayout="row"
            fxLayoutGap="16px"
          >
            <span
              (click)="selectCollab(req)"
              class="radio {{ selectedCollab?.id === req.id ? 'active' : '' }}"
              fxLayoutAlign="center center"
            ></span>
            <span>{{ req?.uniqueIdentifier }}</span>
          </td>
          <td
            class="name"
            fxFlex="20"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
          >
            <div class="circle" fxLayoutAlign="center center">
              {{ req?.firstName[0] }}{{ req?.lastName[0] }}
            </div>
            <span>{{ req?.firstName }} {{ req?.lastName }}</span>
          </td>
          <td class="solde" fxFlex="20" fxLayoutAlign="center center">
            XOF {{ req?.balance | number : "1.0-0" }}
          </td>
          <td class="date" fxFlex="20" fxLayoutAlign="center center">
            {{ req?.createdAt | frenchDate }}
          </td>
          <td
            class="advance"
            fxFlex="20"
            fxLayout="row"
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
          >
            <span
              class="statut statut--{{
                getLastRequest(req)?.status | lowercase
              }}"
            ></span
            ><span
              >{{ getLastRequest(req)?.amount ? "XOF" : "" }}
              {{ getLastRequest(req)?.amount | number : "1.0-0" || "__" }}</span
            >
          </td>
        </tr>
      </table>
      <div
        class="legends"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
      >
        <div
          class="valid"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
        >
          <span class="color"></span>
          <div class="nbr">Validé ({{ nbValid }})</div>
        </div>
        <div
          class="rejected"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
        >
          <span class="color"></span>
          <div class="nbr">Rejeté ({{ nbRejected }})</div>
        </div>
        <div
          class="pending"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
        >
          <span class="color"></span>
          <div class="nbr">En attente ({{ nbPending }})</div>
        </div>
      </div>
    </div>
    <div class="info-current-user container_sticky">
      <app-user-details [user]="selectedCollab"></app-user-details>
    </div>
  </div>
</div>
