<div style="margin-bottom: 10px; width: 100%" fxLayout="row" fxLayoutGap="19px">
  <div class="dropdown" appDropdown="downlod-dropdown" style="width: 100%">
    <button
      class="btn btn-primary"
      style="
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      "
    >
      <mat-icon fxLayoutAlign="center center">cloud_download</mat-icon
      ><span style="font-size: 13px">Support de préparation de la paie </span>
    </button>
    <div class="dropdown-content flex jcs content" id="downlod-dropdown">
      <label
        for="file_input_demande"
        class="dropdown-option"
        fxLayout="column"
        fxLayoutGap="16px"
        fxLayoutAlign="start center"
      >
        <div class="icon">
          <img src="./assets/img/icon-upload.png" alt="" />
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center">
          <span class="type">Importer le support</span>
          <span class="type">de la preparation à la paie</span>

          <span class="format">Format accepté : XLSX</span>
        </div>
      </label>
       <input
          type="file"
          (change)="uploadDemande($event)"
          accept=".xlsx"
          style="display: none"
          id="file_input_demande"
        />
      <button
        (click)="downloadDemande()"
        class="dropdown-option"
        fxLayout="column"
        fxLayoutGap="16px"
        fxLayoutAlign="start center"
      >
        <div class="icon">
          <img src="./assets/img/icon-download.png" alt="" />
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center">
          <span class="type">Télécharger le support </span>
          <span class="type">de la preparation à la paie</span>
          <span class="format">support-paiement.XLSX</span>
        </div>
      </button>
    </div>
  </div>
</div>

<!-- The Modal -->
