<div class="container">
  <h2 class="container-title-setting"><span>Paramètres généraux</span></h2>
  <div class="container-setting">
    <div class="parametres-container">
      <!-- Section des catégories socioprofessionnelles -->
      <div class="categorie-container">
        <h3>Ajout d'une catégorie socioprofessionnelle</h3>
        <div class="input-section">
          <label for="categorie-input">Catégorie Socio Professionnelle</label>
          <div class="input-group">
            <input
              type="text"
              id="categorie-input"
              placeholder="Nom de la catégorie"
              [(ngModel)]="newCategorie"
            />
            <button class="add-button" (click)="addCategorie()">Ajouter</button>
          </div>
        </div>

        <h4>Liste des catégories socioprofessionnelles</h4>
        <ul class="categorie-list">
          <li
            *ngFor="let categorie of categories; let i = index"
            [ngClass]="{ error: categorie.error }"
            class="categorie-item"
          >
            <!-- Affichage conditionnel -->
            <div class="categorie-field" *ngIf="!categorie.isEditing">
              <span>{{ categorie.title }}</span>
              <div class="actions">
                <button class="edit-btn" (click)="editCategorie(i)">✏️</button>
                <button class="delete-btn" (click)="deleteCategorie(i)">
                  🗑️
                </button>
              </div>
            </div>

            <!-- Mode édition -->
            <div class="categorie-field" *ngIf="categorie.isEditing">
              <input
                type="text"
                [(ngModel)]="categorie.title"
                class="edit-input"
              />
              <div class="actions">
                <button class="save-btn" (click)="saveCategorie(i)">✔️</button>
                <button class="cancel-btn" (click)="cancelEdit(i)">❌</button>
              </div>
            </div>
          </li>
        </ul>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </div>

      <!-- Section Date limite des demandes -->
      <div fxFlex="50" fxLayout="column" fxLayoutGap="24px">
        <form fxLayout="column" fxLayoutGap="38px" class="form-container">
          <span class="title">Date limite de la préparation de la paie</span>
          <div class="wrapper" fxLayout="column" fxLayoutGap="38px">
            <ul class="date">
              @for (item of itemsCardDate; track $index) {
              <li
                [ngClass]="{
                  pending: item.pending == true,
                  active: item.active == true
                }"
              >
                <button (click)="setDate(item.day)">
                  <time
                    [dateTime]="
                      lastDayOfCurrentMonth.getFullYear() +
                      '-' +
                      lastDayOfCurrentMonth.getMonth() +
                      '-' +
                      item
                    "
                    >{{ item.day }}</time
                  >
                </button>
              </li>
              }
            </ul>
          </div>
        </form>
        <p style="text-align: justify; padding: 8px">
          <span
            style="
              width: 25px;
              height: 25px;
              padding: 5px;
              border-radius: 50%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background-color: gray;
            "
            ><i class="fa-solid fa-info" style="color: white"></i
          ></span>
          Veuillez sélectionner la date limite de préparation de la paie
        </p>
      </div>
    </div>
    <!-- Section Plafond -->
    <div class="plafond-container">
      <h3>Plafond du montant total des demandes en cours</h3>
      <div class="plafond-content">
        <label for="percentage-input">Pourcentage maximum du salaire</label>
        <div class="percentage-input-group">
          <input
            type="number"
            id="percentage-input"
            [(ngModel)]="maxPercentage"
            placeholder="50"
            min="0"
            max="100"
          />
          <span class="percentage-symbol">%</span>
        </div>
      </div>
      <button class="validate-button" (click)="savePlafond()">
        Mettre à jour
      </button>
    </div>
  </div>
</div>
