<div
  class="page-wrapper"
  fxLayout="row"
  fxLayoutAlign="none start"
  fxLayoutGap="25px"
>
  <div class="table-wrapper" fxFlex="auto" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="column">
      <div class="filters" fxLayout="row">
        <div
          class="search"
          fxFlex="20"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-icon fxLayoutAlign="center center" class="icon-search"
            >search</mat-icon
          >
          <input [(ngModel)]="search" type="text" placeholder="Rechercher" />
          <mat-icon
            fxLayoutAlign="center center"
            class="icon-delete"
            (click)="search = ''"
            >close</mat-icon
          >
        </div>
        <div
          fxFlex="20"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="dropdown"
          appDropdown="dropdown-statut"
        >
          <span
            class="text"
            [ngClass]="status ? 'selected' : ''"
            fxFlex="auto"
            >{{ status ? (status | demandeStatus) : "Statut" }}</span
          >
          <mat-icon class="icon-dropdown" fxLayoutAlign="space-between center"
            >keyboard_arrow_down</mat-icon
          >
          <div
            class="dropdown-content dropdown-content-filter"
            id="dropdown-statut"
          >
            <div
              (click)="changeStatus('VALIDATED')"
              class="dropdown-option"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              Validée <span class="statut statut--valid"></span>
            </div>
            <div
              (click)="changeStatus('PAYED')"
              class="dropdown-option"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              Remboursée <span class="statut statut--payed"></span>
            </div>
            <div
              (click)="changeStatus('REJECTED')"
              class="dropdown-option"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              Rejetée <span class="statut statut--rejected"></span>
            </div>
            <div
              (click)="changeStatus('PENDING')"
              class="dropdown-option"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              En attente
              <span class="statut statut--pending"></span>
            </div>
            <div
              (click)="changeStatus('CANCELLED')"
              class="dropdown-option"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              Annulée <span class="statut statut--cancel"></span>
            </div>
          </div>
        </div>
        <div
          fxFlex="20"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="dropdown"
          appDropdown="dropdown-fourchette"
        >
          <span class="text text-on-1-line" fxFlex="auto"
            >Entre {{ min }} et {{ max }}k</span
          >
          <mat-icon class="icon-dropdown" fxLayoutAlign="space-between center"
            >keyboard_arrow_down</mat-icon
          >
          <div
            class="dropdown-content dropdown-content-filter"
            id="dropdown-fourchette"
          >
            <div
              (click)="changeMinMax(0, 100)"
              class="dropdown-option"
              fxLayoutAlign="space-between center"
            >
              <span>0</span>à
              <span>100k</span>
            </div>
            <div
              (click)="changeMinMax(100, 250)"
              class="dropdown-option"
              fxLayoutAlign="space-between center"
            >
              <span>100k</span> à
              <span>250k</span>
            </div>
            <div
              (click)="changeMinMax(250, 1000)"
              class="dropdown-option"
              fxLayoutAlign="space-between center"
            >
              <span>250k</span> à
              <span>1.000k</span>
            </div>
            <div
              (click)="changeMinMax(1000, 10000)"
              class="dropdown-option"
              fxLayoutAlign="space-between center"
            >
              <span>1.000k</span> à
              <span>plus</span>
            </div>
          </div>
        </div>
        <form fxFlex="20" class="dropdown">
          <span
            #btnToggleDropdownDate
            fxFill
            fxLayout="row"
            fxLayoutAlign="space-between center"
            (click)="toggleMenuFilterDate()"
          >
            <span
              >Du {{ startDate | frenchDate }} au
              {{ endDate | frenchDate }}</span
            >
            <mat-icon class="icon-dropdown" fxLayoutAlign="space-between center"
              >keyboard_arrow_down</mat-icon
            >
          </span>
          <div
            class="dropdown-content"
            id="filter-date-dropdown"
            *ngIf="isMenuFilterOpen"
            #dropdownContent
          >
            <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
              <label for="debut">Du</label>
              <input
                name="startDate"
                [(ngModel)]="startDate"
                type="date"
                id="debut"
              />
            </div>
            <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
              <label for="fin">Au</label>
              <input
                name="endDate"
                [(ngModel)]="endDate"
                type="date"
                id="fin"
              />
            </div>
          </div>
        </form>
        <div
          (click)="resetFilter()"
          fxFlex="20"
          class="btn-filter"
          fxLayout="row"
          fxLayoutGap="16px"
          fxLayoutAlign="center center"
        >
          <mat-icon>filter_list</mat-icon>
          <span>Réinitialiser</span>
        </div>
      </div>
      <table class="table">
        <tr
          class="titles-container"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <th class="title" fxFlex="13" fxLayoutAlign="start center">
            N° Demande
          </th>
          <th class="title" fxFlex="20.6" fxLayoutAlign="center center">
            Collaborateur
          </th>
          <th class="title" fxFlex="13.6" fxLayoutAlign="center center">
            Solde
          </th>
          <th class="title" fxFlex="15.6" fxLayoutAlign="center center">
            Date
          </th>
          <th class="title" fxFlex="16.6" fxLayoutAlign="center center">
            Avance sur salaire
          </th>
          <th class="title" fxFlex="30" fxLayoutAlign="center center">
            Actions
          </th>
        </tr>
        <tr
          class="user"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          *ngFor="
            let req of requests
              | rangeFilter : 'amount' : min * 1000 : max * 1000
              | dateRangeFilter : 'createdAt' : startDate : endDate
              | propertyMatch : 'status' : status
              | filter : search
          "
        >
          <td
            class="radio-container"
            fxFlex="13"
            fxLayoutAlign="start center"
            fxLayout="row"
            fxLayoutGap="16px"
          >
            <span
              (click)="selectReq(req)"
              class="radio {{ selectedReq?.id === req.id ? 'active' : '' }}"
              fxLayoutAlign="center center"
            ></span>
            <span>{{ req?.number }}</span>
          </td>
          <td
            class="name"
            fxFlex="20.6"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
          >
            <div class="circle" fxLayoutAlign="center center">AC</div>
            <span
              >{{ req?.collaborator?.firstName }}
              {{ req?.collaborator?.lastName }}</span
            >
          </td>
          <td class="solde" fxFlex="13.6" fxLayoutAlign="center center">
            XOF {{ req?.collaborator?.balance }}
          </td>
          <td class="date" fxFlex="15.6" fxLayoutAlign="center center">
            {{ req?.createdAt | date : "YYYY-MM-dd" }}
          </td>
          <td
            class="advance"
            fxFlex="16.6"
            fxLayout="row"
            fxLayoutGap="8px"
            fxLayoutAlign="center center"
          >
            <span class="statut statut--{{ req?.status | lowercase }}"></span
            ><span>Xof {{ req?.amount }}</span>
          </td>
          <td fxFlex="30" fxLayoutAlign="end center">
            <div fxFlex="100" class="dropdown" appDropdown="dropdown-action">
              <span fxLayout="row" class="btn-edit-statut">
                <span
                  class="text"
                  fxFlex="auto"
                  fxLayout="row"
                  fxLayoutGap="8px"
                  fxLayoutAlign="center center"
                  ><span>{{ req?.statusText | demandeStatus | titlecase }}</span
                  ><span
                    class="statut statut--{{ req?.status | lowercase }}"
                  ></span
                ></span>
                <mat-icon class="dropdown-icon" fxLayoutAlign="center center"
                  >keyboard_arrow_down</mat-icon
                >
              </span>
              <div
                class="dropdown-content dropdown-content-filter"
                id="dropdown-action"
              >
                <div
                  *ngIf="req.status === 'PENDING'"
                  class="dropdown-option"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  requiresConfirmation
                  [message]="'Voulez-vous valider cette demande?'"
                  [confirmCallback]="validateDemande"
                  [confirmCallbackParam]="req?.id"
                >
                  Validée
                  <span class="statut statut--valid"></span>
                </div>
                <div
                  *ngIf="
                    req.status === 'VALIDATED' && req.statusText === 'VALIDATED'
                  "
                  class="dropdown-option"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  requiresConfirmation
                  [message]="'Voulez-vous payer cette demande?'"
                  [confirmCallback]="payeDemande"
                  [confirmCallbackParam]="req?.id"
                >
                  Remboursée
                  <span class="statut statut--payed"></span>
                </div>
                <div
                  *ngIf="req.status === 'PENDING'"
                  class="dropdown-option"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  requiresConfirmation
                  [message]="'Voulez-vous rejeter cette demande?'"
                  [confirmCallback]="rejectDemande"
                  [reasonRequired]="true"
                  [confirmCallbackParam]="req?.id"
                >
                  Rejetée
                  <span class="statut statut--rejected"></span>
                </div>
                <!-- <div class="dropdown-option" fxLayout="row" fxLayoutAlign="space-between center">En
                                    attente
                                    <span class="statut statut--pending"></span>
                                </div> -->
                <div
                  *ngIf="req.status === 'PENDING'"
                  class="dropdown-option"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  requiresConfirmation
                  [message]="'Voulez-vous annuler cette demande?'"
                  [confirmCallback]="cancelDemande"
                  [confirmCallbackParam]="req?.id"
                >
                  Annulée
                  <span class="statut statut--cancel"></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div
      class="legends"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <div
        class="valid"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
      >
        <span class="color"></span>
        <div class="nbr">Validé ({{ nbValid }})</div>
      </div>
      <div
        class="rejected"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
      >
        <span class="color"></span>
        <div class="nbr">Rejeté ({{ nbRejected }})</div>
      </div>
      <div
        class="pending"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
      >
        <span class="color"></span>
        <div class="nbr">En attente ({{ nbPending }})</div>
      </div>
    </div>
  </div>
  <div class="info-current-user container_sticky">
    <app-organization-file></app-organization-file>
    <app-user-details [user]="selectedReq?.collaborator"></app-user-details>
  </div>
</div>
