<form *ngIf="form" [formGroup]="form" class="form-container" fxLayout="column" fxLayoutGap="40px">
  <div fxLayout="column" fxLayoutGap="32px">
    <span class="title" fxLayoutAlign="center center">Mot de passe oublié</span>
    <div class="separator"></div>
  </div>

  <div fxLayout="column" fxLayoutGap="50px" fxLayoutGap.lt-sm="32px">
    <div fxLayout="column" fxLayoutGap="24px">
      <label class="form-group" fxLayout="column" fxLayoutGap="8px">
        <span class="label">Email</span>
        <div fxLayoutAlign="start center">
          <input formControlName="email" class="form-control" type="email" placeholder="Entrer votre email" name="email" >
         
        </div>
        <small class="color-danger" *ngIf="email.touched && email.invalid">{{ help }}</small>
      </label>
      
    </div>
    <button class="submit" (click)="reset()"  [disabled]="form.invalid">Soumettre</button>
  </div>
</form>
