<div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100" class="confirm-dialog">
  <div fxFlex="100" class="message" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="end start" fxFlex="100" class="header">
      <mat-icon class="close" (click)="onCancel()">close</mat-icon>
    </div>
    <p>{{ data.message }}</p>

  </div>

  <form fxFlex="100" *ngIf="reasonRequired" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
    <label for="reason">Raison</label>
    <textarea fxFill class="form-control" name="reason" [(ngModel)]="reason" rows="7"></textarea>
  </form>

  <div fxFlex="100" class="footer" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="16px">
    <button class="cancel" (click)="onCancel()" mat-dialog-close>Annuler</button>
    <button class="confirm" (click)="onConfirm()">Confirmer</button>
  </div>
</div>