<div class="sidebar" fxLayout="column" fxLayoutGap="24px" [ngClass]="isSidebarOpened?'is-opened':'is-closed'">
    <div class="logo-container" fxLayout="row" fxLayoutAlign="start center"
        [ngClass]="isSidebarOpened?'is-opened':'is-closed'">
        <div class="logo-icon" fxLayoutAlign="center center">
            <img src="./assets/img/logo-icon.png" alt="">
        </div>
        <div class="logo-text" fxLayoutAlign="center center" *ngIf="isSidebarOpened">
            <img src="./assets/img/logo-text.png" alt="">
        </div>
    </div>
    <div fxFlex="auto" class="navigation" fxLayout="column" fxLayoutGap="2px">
        <span class="nav-item-container" *ngFor="let item of dashboardNav;let i=index">
            <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="nav-item"
                [routerLink]="item.link" routerLinkActive="active">
                <span class="icon" fxLayoutAlign="center center"><mat-icon>{{item.icon}}</mat-icon></span>
                <span class="label" *ngIf="isSidebarOpened">{{item.label}}</span>
            </span>
        </span>
    </div>
    <div class="btn-logout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" (click)="logout()">
        <span class="icon" fxLayoutAlign="start center"><mat-icon>business</mat-icon></span><span
            *ngIf="isSidebarOpened">{{ currentUser?.organization?.name }}</span>
    </div>
</div>
