<div
  class="container"
  fxFlex="100"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="26px"
  >
    <app-menu-hamburger></app-menu-hamburger>
    <span class="title">Aperçu</span>
  </div>
  <div class="user-and-notif-container" fxLayout="row" fxLayoutGap="24px">
    <div fxLayout="row">
      <span
        class="config-icon"
        fxLayoutAlign="center center"
        routerLink="/dashboard/user"
        ><mat-icon fxLayoutAlign="center center">settings</mat-icon></span
      >
      <div class="dropdown" [appDropdown]="'dropdown-notfification'">
        <span class="message-icon" fxLayoutAlign="center center">
          <span class="icon-wrapper" *ngIf="!newNotificationCounter">
            <mat-icon fxLayoutAlign="center center"
              >notifications_none</mat-icon
            >
            <span class="signal-notif" *ngIf="hasUnviewedNotif"></span>
          </span>
          <span
            class="icon-wrapper"
            (click)="viewNotifications()"
            *ngIf="newNotificationCounter"
          >
            <mat-icon
              fxLayoutAlign="center center"
              matBadge="{{ newNotificationCounter }}"
              matBadgeColor="warn"
              >notifications_none</mat-icon
            >
          </span>
          <div class="dropdown-content" id="dropdown-notfification">
            <div class="notif-content-wrapper personnaliez-sidebar">
              <div
                [routerLink]="['/dashboard/requests-list']"
                [queryParams]="{ entity: notif.entityId }"
                routerLinkActive="router-link-active"
                routerLinkActive="router-link-active"
                *ngFor="let notif of notificationList; let i = index"
                fxLayout="column"
                fxLayoutGap="15px"
              >
                <div
                  class="dropdown-option notif"
                  fxLayout="column"
                  fxLayoutGap="12px"
                >
                  <div fxLayout="column">
                    <span class="title">{{ notif.title }}</span>
                    <span class="content text-on-2-line">{{
                      notif.content
                    }}</span>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="8px"
                  >
                    <span class="date">{{
                      notif.date || notif.createdAt | frenchDate
                    }}</span>
                    <span class="yellow-circle"></span>
                    <span class="send-by"
                      >par {{ notif?.author?.firstName }}
                      {{ notif?.author?.lastName }}</span
                    >
                  </div>
                </div>
                <hr *ngIf="i != notificationList.length - 1" />
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div
      class="user-container"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4px">
        <div class="user-detail">
          <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start end">
            <div fxLayout="column" fxLayoutAlign="center start">
              <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start end">
                <p class="name">{{ user?.firstName }}</p>
                <p class="name">{{ user?.lastName }}</p>
              </div>
              <span class="role">{{ user?.position || "ADMIN" }}</span>
            </div>
             <!-- <div class="user-img">
                    <img src="./assets/img/user-img.png" alt="">
                </div> -->
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-user" appDropdown="dropdown-header">
        <span class="icon-dropdown"><mat-icon>arrow_drop_down</mat-icon></span>
        <div class="dropdown-content" id="dropdown-header">
          <div
            class="dropdown-option"
            routerLink="/dashboard/user"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-icon>person_outline</mat-icon>
            <span>Profile</span>
          </div>
          <div
            class="dropdown-option"
            (click)="logout()"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-icon fxLayoutAlign="start center">exit_to_app</mat-icon>
            <span>Déconnexion</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
