<div
  class="page-wrapper form-container form-container-card"
  fxLayout="column"
  fxLayoutGap="32px"
>
  <div fxLayout="row" fxLayoutGap="32px">
    <div fxFlex="50" fxLayout="column" fxLayoutGap="38px">
      <span class="title">Mon profil</span>
      <form
        *ngIf="form"
        [formGroup]="form"
        class="wrapper form-container"
        fxLayout="column"
        fxLayoutGap="38px"
      >
        <div fxLayout="column" fxLayoutGap="15px">
          <label for="prenom">Nom <span class="color-danger">*</span></label>
          <input
            formControlName="name"
            type="text"
            id="name"
            class="form-control"
            placeholder="Cofina"
          />
        </div>
        <div fxLayout="column" fxLayoutGap="15px">
          <label for="nom"
            >Pourcentage de demande maximum sur le salaire(minimum 1, maximum
            100)<span class="color-danger">*</span></label
          >
          <input
            formControlName="amountPercent"
            type="number"
            id="amountPercent"
            class="form-control"
            placeholder="75"
          />
        </div>
        <div fxLayout="column" fxLayoutGap="15px">
          <label for="address"
            >Montant maximale peu importe le salaire(minimum 5000)<span
              class="color-danger"
              >*</span
            ></label
          >
          <input
            formControlName="maxDemandeAmount"
            type="number"
            id="maxDemandeAmount"
            class="form-control"
            placeholder="1000000"
          />
        </div>
      </form>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutGap="24px">
      <form fxLayout="column" fxLayoutGap="38px" class="form-container">
        <span class="title">Date limite des demandes</span>
        <div class="wrapper" fxLayout="column" fxLayoutGap="38px">
          <ul>
            @for (item of itemsCardDate; track $index) {

            <li
              [ngClass]="{
                pending: item.pending == true,
                active: item.active == true
              }"
            >
              <button (click)="setDate(item.day)">
                <time
                  [dateTime]="
                    lastDayOfCurrentMonth.getFullYear() +
                    '-' +
                    lastDayOfCurrentMonth.getMonth() +
                    '-' +
                    item
                  "
                  >{{ item.day }}</time
                >
              </button>
            </li>
            }
          </ul>
        </div>
      </form>
      <p style="text-align: justify; padding: 8px;">
        <span style="width: 25px; height: 25px; padding: 5px; border-radius: 50%;display: inline-flex ;justify-content: center;align-items: center; background-color: gray;" ><i class="fa-solid fa-info" style="color: white;"></i></span>
        Veuillez sélectionner la date du mois à partir de laquelle le collaborateur ne pourra plus soumettre de demande d'avance pour le mois en cours</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px" style="width: 100%;">
    <div fxLayout="colum" fxLayoutAlign="start start" fxFlex="50" >
      <button class="submit" (click)="updateOrganization()">
        Mettre à jour
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
      <button class="submit" (click)="updateDateLimit()" >
        Soumettre
      </button>
    </div>
  </div>
</div>
