<div class="container">
  <div class="container-title-setting">
    <span>Avance sur salaire remboursable mensuellement</span>
  </div>
  <div class="avance-evenement-container">
    <!-- Section Activation du service -->
    <div class="section flex-center">
      <h3>Activation du service</h3>
      <app-toggle-slide
        [firstText]="'Actif'"
        [secondText]="'Inactif'"
        [value]="activated ?? false"
        [uniqueId]="'serviceActivation'"
        (toggleChange)="handleServiceActivationChange($event)"
      ></app-toggle-slide>
    </div>
    <div class="toggle-side" [ngClass]="{ grise: !activated }">
      <div class="activation-date">
        <label style="margin-bottom: 19px; padding: 0 12px"
          >Date d'activation</label
        >
        <form class="date-inputs" [formGroup]="formDate">
          <label style="margin-bottom: 19px; padding: 0 12px" for=""
            >Date de début</label
          >
          <div class="date-input">
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                [matDatepicker]="startPicker"
                formControlName="startDate"
                placeholder="Date de début"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
              <mat-error *ngIf="startDate === null">
                La date de début est requise.
              </mat-error>
            </mat-form-field>
          </div>
          <label style="margin-bottom: 19px; padding: 0 12px" for=""
            >Date de fin</label
          >
          <div class="date-input">
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                [matDatepicker]="endPicker"
                formControlName="endDate"
                placeholder="Date de fin"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
              <mat-error *ngIf="endDate === null">
                La date de fin est requise.
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <mat-error *ngIf="!validDate">
        La date de début doit être inférieure à la date de fin.
      </mat-error>
      <!-- Section des paramètres -->
      <div class="section">
        <div class="category-selection">
          <label for="category-selection">Sélectionnez une catégorie</label>

          <select
            [(ngModel)]="selectedCategorieId"
            class="custom-select"
            (change)="onChangeCategorie($event)"
            name="selectedCategorieId"
          >
            <option value="" disabled selected>Toutes les catégories</option>
            <option
              *ngFor="let categorie of categories"
              [value]="categorie?.id"
            >
              {{ categorie?.title }}
            </option>
          </select>
        </div>

        <mat-tab-group
          animationDuration="0ms"
          (selectedTabChange)="onTabChange($event)"
        >
          <mat-tab
            *ngFor="let categorie of listCategorieService"
            [label]="categorie?.categorySociopro?.title"
          >
            <app-setting
              [data]="categorie"
              [hideToggleService]="
                categorie?.categorySociopro?.title !== 'Paramètres généraux'
              "
              [categorie]="categorie.categorySociopro"
              (settingChange)="onSettingChange($event)"
            ></app-setting>
          </mat-tab>
        </mat-tab-group>
      </div>
      <button [ngClass]="{
          'disable-button': disableButton,
        }"
        [disabled]="!disableButton" (click)="saveSettings()" class="validate-btn">Valider</button>
    </div>
    <!-- Liste des événements prévus -->
  </div>
</div>
