<form *ngIf="form" [formGroup]="form" class="form-container" fxLayout="column" fxLayoutGap="40px">
  <div fxLayout="column" fxLayoutGap="32px">
    <span class="title" fxLayoutAlign="center center">Réinitialisation de votre mot de passe</span>
    <div class="separator"></div>
  </div>
  <div class="color-danger" *ngIf="notSame">Les mots de passes ne sont pas identiques</div>
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutGap.lt-sm="32px">
    <div fxLayout="column" fxLayoutGap="24px">
      <label class="form-group" fxLayout="column" fxLayoutGap="8px">
        <span class="label">Mot de passe</span>
        <div fxLayoutAlign="start center">
          <input formControlName="password" class="form-control" type="password" placeholder="Créer votre propre mot de passe" name="password" ngModel required="">
          <!-- <span class="icon-control"><mat-icon>mail_outline</mat-icon></span> -->
        </div>
        <small class="color-danger" *ngIf="password.touched && password.invalid">{{ help }}</small>
      </label>
      <div fxLayout="column" fxLayoutGap="12px">
        <label class="form-group  " fxLayout="column" fxLayoutGap="8px">
          <span class="label">Confirmation de votre mot de passe</span>
          <div fxLayoutAlign="end center">
            <input formControlName="confirm" class="form-control" [type]="hidePassword?'password':'text'" placeholder="Confirmer votre mot de passe"
              name="confirm" ngModel required="">
            <!-- <span class="icon-control"><mat-icon>lock_open</mat-icon></span> -->
            <!-- <span class="toggle-password-visibility"
              (click)="hidePassword=!hidePassword"><mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon></span> -->
          </div>
          <small class="color-danger" *ngIf="confirm.touched && confirm.invalid">{{ help }}</small>
        </label>
        <!-- <div class="form-ckeck-container" fxLayoutAlign="end center" fxLayout="row"
          fxLayoutAlign="space-between center">
          <mat-checkbox class="example-margin" ngModel name="checked"><span>Se souvenir de
              moi</span></mat-checkbox>
          <span class="pass-forgotten" routerLink="/auth/request-password-reset">Mot de passe oublié ?</span>
        </div> -->
      </div>
    </div>
    <button class="submit" (click)="reset()"  [disabled]="!formValid">Soumettre</button>
  </div>
</form>
